@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 0, 0;
  --background-start-rgb: 0, 0, 220;
  --background-end-rgb: 50, 3, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 188, 200;
    --background-start-rgb: 145, 145, 145;
    --background-end-rgb: 100, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
